<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="description"
              content="Welkom op de webpagina van Scouts Sint-Aloysius Aalst.
                       Deze scouts werd in het jaar 1954 opgericht in de wijk Mijlbeek en is de enige jongensscouts in Aalst en omstreken.">
        <meta name="keywords" content="Scouts, Aalst">
        <meta name="author" content="Populierblauwe Nijverige Moeflon">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title | title }}</title>
        <link rel="icon" href="/assets/logo/logo_alowis.png">
        <link rel="stylesheet" href="/css/style.css">
        <!-- PWA -->
        <link rel="apple-touch-icon" href="/assets/logo/apple_touch_icon.png">
        <meta name="theme-color" content="#a11e12">
        <!-- scripts -->
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <!-- preload -->
        <link rel="preload" href="/css/style.css" as="style">
        <link rel="preload" href="/css/normalize.css" as="style">
        <link rel="preload" href="/js/main.js" as="script">
        <!-- font awsome icons -->
        <script defer src="https://kit.fontawesome.com/edb9d339a2.js" crossorigin="anonymous"></script>
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Nunito:wght@200&display=swap"
        rel="stylesheet">
    </head>

    <body>
        <header>
            {% include 'header.njk' %}
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            {% include 'footer.njk' %}
        </footer>
        <script>
            document.getElementById("year").innerHTML = new Date().getFullYear();
        </script>
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
         <script src="/js/main.js"></script>
    </body>
</html>