<address>
  <ul>
    <li>
      <a href="https://goo.gl/maps/MB7vtRcpFy5z7xE88" target="_blank" class="maps"><i class="fai fas fa-map-marker-alt"></i>Schendelbeekhofstraat 36, 9300 Aalst</a>
    </li>
    <li>
      <a href="mailto:scouts_alowis@hotmail.com" class="email"><i class="fai fas fa-envelope"></i>scouts_alowis&commat;hotmail.com</a>
    </li>
  </ul>
</address>
<aside>
  <ul>
    <li>
      <a href="https://www.facebook.com/ScoutsSintAloysius/" target="_blank" class="facebook"><i class="fai fab fa-facebook-square"></i>Facebook</a>
    </li>
    <li>
      <a href="https://www.instagram.com/scouts_alowis/" target="_blank" class="instagram"><i class="fai fab fa-instagram-square"></i>Instagram</a>
    </li>
  </ul>
</aside>
<div class="footerinfo">
  <p class="privacy">
    <small>
      <a href="/assets/privacyverklaring.pdf" target="_blank"><i class="fai fas fa-lock"></i>Privacyverklaring</a>
    </small>
  </p>
  <p class="copy">
    <small>
      Copyright &copy; <span id="year">2021</span>, Scouts Sint-Aloysius.<br> Alle rechten voorbehouden
    </small>
  </p>
  <p class="author">Ontworpen door Populierblauwe Nijverige Moeflon</p>
</div>
