<header>
    <a href="/index.html">
      <img src="/assets/logo-alowis.png" alt="logo" class="logo">

    </a><input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li>
          <input type="checkbox" id="subnav-toggle" class="nav-toggle">
          <label for="subnav-toggle" id="takken">Takken <i class="fas fa-angle-down"></i></label>
          <ul class="nav-sublist">
            <li><a href="/takken/kapoenen">Kapoenen</a></li>
            <li><a href="/takken/welpen">Welpen</a></li>
            <li><a href="/takken/jongverkenners">Jongverkenners</a></li>
            <li><a href="/takken/verkenners">Verkenners</a></li>
            <li><a href="/takken/jins">Jins</a></li>
            <li><a href="/admin/">Leiding</a></li>
          </ul>
        </li>
        <li><a href="/verhuur/">Verhuur</a></li>
        <li><a href="/in-formatie/">In-formatie</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/Inschrijven/">Inschrijven</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>