<a href="/">
  <img src="/assets/logo/logo_alowis_70.webp" alt="logo" class="logo"
       width="70" height="70"
       srcset="/assets/logo/logo_alowis_70.webp 70w,
               /assets/logo/logo_alowis_100.webp 100w,
               /assets/logo/logo_alowis_500.webp 500w"
  >

</a><input type="checkbox" id="nav-toggle" class="nav-toggle" disabled>
<nav id="nav-menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/takken" id="takken">Takken <i class="fas fa-angle-down"></i></a>
      <ul class="nav-sublist">
        <li><a href="/takken/kapoenen">Kapoenen</a></li>
        <li><a href="/takken/welpen">Welpen</a></li>
        <li><a href="/takken/jongverkenners">Jongverkenners</a></li>
        <li><a href="/takken/verkenners">Verkenners</a></li>
        <li><a href="/takken/jins">Jins</a></li>
        <li><a href="/admin">Leiding</a></li>
      </ul>
    </li>
    <li><a href="/verhuur">Verhuur</a></li>
    <li><a href="/in-formatie">In-formatie</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/inschrijven">Inschrijven</a></li>
  </ul>
</nav>
<label id="toggle-label" for="nav-toggle" class="nav-toggle-label">
  <span id="toggle-span"></span>
</label>
