---
layout: 'base.njk'
---

<article class="tak">
    <section class="titelsection">
        <h1>{{ title | capitalize }}</h1>
    </section>
    <section class="logosection">
        <h2>Geboren <span id="leeftijd">...</span></h2>
        <div class="img_container">
            <img class="taklogo" src="/assets/{{ title }}/logo/logo_140.webp" alt="logo {{ title }}"
                 width="140" height="240"
                 srcset="/assets/{{ title }}/logo/logo_140.webp 140w,
                         /assets/{{ title }}/logo/logo_280.webp 280w,
                         /assets/{{ title }}/logo/logo_560.webp 560w"
            >
        </div>
    </section>

    <section class="beschrijvingsection">
        {{ content | safe }}
    </section>
    
    <section class="alowiskesection" id="alowiske">
        <h2>Alowiske</h2>
        <iframe
            src="{{ drivelink }}"
            title="alowiske {{ title }}"
            class="alowiske"
            allow="autoplay">
        </iframe>
    </section>
    
    <section class="leidingsection">
        <h2>Leiding</h2>
        <div class="img_container">
            <img class="takleiding" src="/assets/{{ title }}/leiding/leiding_640.webp" alt="leiding {{ naam }}"
                 width="640" height="896"
                 srcset="/assets/{{ title }}/leiding/leiding_640.webp 640w,
                         /assets/{{ title }}/leiding/leiding_1024.webp 1024w,
                         /assets/{{ title }}/leiding/leiding_1920.webp 1920w,
                         /assets/{{ title }}/leiding/leiding_2675.webp 2675w"
            >
        </div>
        {% for leider in leiding | list %}
            <p>{{ leider }}</p>
        {% endfor %}
        <a href="javascript:void(0);" onclick="copyElementText(this)" class="copyclick">
            <i class="fai fas fa-clone"></i>{{ email }}
        </a>
    </section>
</article>
<script>
    const vandaag = new Date();
    const naEenAugustus = vandaag > new Date(vandaag.getFullYear(), 07, 1) ? 1 : 0;
    const jaar = vandaag.getFullYear() + naEenAugustus - 1;
    const start = jaar - {{ geboortestart }} + 1;
    const eind = jaar - {{ geboorteeind }};

    const leeftijd = start === eind ? `${start}` : `${start}-${eind}`;

    document.getElementById("leeftijd").innerHTML = leeftijd;
</script>
