@import url("normalize.css");

:root {
    --clr-alowisgray: 0, 0%, 35%;
    --clr-alowisred: 5, 80%, 35%;
    --clr-alowisbrown: 37, 37%, 85%;

    /* main background */
    --clr-primary: 0, 0%, 100%;

    /* header/footer background */
    --clr-accent: var(--clr-alowisbrown);
    --clr-text: 0, 0%, 0%;
    --clr-strong: 54, 77%, 74%;
}

/* darktheme */
/* @media (prefers-color-scheme: dark) {
    :root {
        --clr-primary: 0, 0%, 0%;
        --clr-text: 0, 0%, 100%;

        --clr-alowisgray: 0, 0%, 55%;
        --clr-alowisred: 0, 100%, 62%;
        --clr-alowisbrown: 31, 88%, 11%;

        --clr-strong: 54, 76%, 20%;
    }

    @media screen and (min-width: 1000px){
        ul.nav-sublist a:hover {
            color: hsla(var(--clr-text));
            text-shadow: 1px 1px hsla(var(--clr-primary));
        }
    }

    .inschrijvingform {
        background-color: hsla(var(--clr-text));
        border-radius: 15px;
    }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: hsla(var(--clr-alowisred));
    color: hsla(var(--clr-primary));
}

/* Hoofd achtergrond kleur en tekstkleur van de site */
html {
    background-color: hsla(var(--clr-primary));
    color: hsla(var(--clr-text));
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 2rem;
    scroll-behavior: smooth;
}

body {
    /* verwijder ruimte aan de rand voor header/footer */
    margin: 0;

    /* zorgt deels dat footer onderaan site staat */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: hsla(var(--clr-accent));
    position: fixed;
    z-index: 999;
    text-align: center;
}

/* plaatst main onder de fixed header */
main {
    margin-top: 120px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

article {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: hsla(var(--clr-accent));
    text-align: center;
    margin-top: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

main ul {
    text-align: initial;
}

li {
    margin-bottom: 0.5em;
}

header ul, footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: normal;
}

main p {
    margin-left: 0.75em;
    margin-right: 0.75em;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
    margin-bottom: 0;
    font-weight: bold;
    font-style: italic;
    color: hsla(var(--clr-alowisgray));
}

small, footer .author {
    font-size: 0.7rem;
}

a {
    color: hsla(var(--clr-alowisred));
}

/* strong styles */
strong {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    width: fit-content;
    background: hsla(var(--clr-strong));
    border-radius: 12px;
}

strong::before {
    font-family: "Font Awesome 5 Free";
    color: hsla(var(--clr-alowisred));
    content: "\f071";
    margin-right: 0.2em;

}

/* font awsome icons */
.fai {
    margin-right: 0.2em;
}

footer .fai {
    color: hsla(var(--clr-alowisred));
}

/* copy on click tooltip styles */
.copyclick {
    position: relative;
}

.copyclick::before {
    content: "tekst is gekopieerd";
    position: absolute;
    text-align: center;
    z-index: 2;
    pointer-events: none;

    background: hsla(var(--clr-strong));

    width: 10rem;
    top: 2rem;
    left: calc(50% - 5rem);
    border-radius: 12px;
    
    transform-origin: top;
    transform: scale(0, 0);
    transition: transform 400ms cubic-bezier(0.4, 0, 1, 1) 1500ms; 
}

.copyclick:active::before {
    transform: scale(1, 1);
    transition: transform 1ms;    
}

/* afbeeldingen */
img {
    width: auto;
    height: auto;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 60vh;
    max-width: 100%;
    border-radius: 12px;
}

/* header styles */
.logo {
    max-height: 70px;
    height: 100%;
    margin: 0 auto;
}

nav {
    position: absolute;
    text-align: left;
    width: 100%;
    top: 100%;
    left: 0;
    
    background-color: hsla(var(--clr-accent), 0.9);
    backdrop-filter: blur(3px);
    box-shadow: inset 0px -100px 100px -100px;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    overflow-y: scroll;
    max-height: 75vh;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

.nav-sublist {
    margin: 1em;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    padding: 0.7em;
}

/* hamburger styles */
.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1.2em;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: hsla(var(--clr-text));
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

/* footer styles */
footer a {
    display: block;
    text-decoration: none;
    color: hsla(var(--clr-alowisred));
    margin: 0.4em;
    width: 100%;
}

footer p {
    margin: 0.4em;
}

footer p:first-of-type {
    margin-top: 2em;
}

/* inschrijving styles */
.inschrijvingform {
    margin-top: 1em;
    height: 2050px;
    width: 100%;
}

/* verhuur styles */
.verhuurtabel {
    width: 90%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.80rem;
    border-collapse: collapse;
}

td,
th {
    padding: 8px;
    border: 1px solid hsla(var(--clr-text));
}

td {
    text-align: left;
}

th {
    text-align: right;
    text-transform: uppercase;
}

thead td {
    text-align: center;
    font-weight: bold;
}

thead th,
tfoot td {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.verhuurkalender {
    max-width: 800px;
}

/* contact styles */
.googlemaps {
    max-width: 100%;
    width: 600px;
    height: 450px;
}

.facebookframe {
    max-width: 100%;
    width: 500px;
    height: 500px;
}

iframe {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* takken styles */
.tak-snippet {
    text-decoration: none;
    color: hsla(var(--clr-text));
    
    max-width: 80%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

/* tak styles */
.alowiske {
    aspect-ratio: 1/1.4142;
    height: min(100%, 60vh);
}


.takleiding {
    border-radius: 40px;
}

.logosection,
.leidingsection {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* in-formatie styles */
.accordion-item {
    border: 3px hsla(var(--clr-text)) solid;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.accordion-link {
    text-align: left;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-link i {
    font-size: 2rem;
}


.answer {
    /* transform: scale(1, 0);
    transform-origin: top; */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms ease-in-out, opacity 650ms ease-in-out;
}

.accordion-item:target .answer{
    /* transform: scale(1, 1); */
    opacity: 1;
    max-height: unset;
}

/* 404 styles */
.page_not_found p{
    text-align: center;
}

/* desktop styles */
@media screen and (min-width: 800px) {

    /* inschrijving styles */
    .inschrijvingform {
        height: 1500px;
        width: 100%;
    }

    /* takken styles */

    .tak_selectie p {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .tak_selectie {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
}


@media screen and (min-width: 1000px) {

    main {
        margin-top: 1em;
    }

    main p,
    main ul,
    main h1,
    main h3 {
        text-align: justify;
        margin-left: 4em;
        margin-right: 4em;
    }

    /* header styles */
    header {
        background-color: hsla(var(--clr-accent));
        position: static;
        display: grid;
        grid-template-columns: 1fr auto minmax(max-content, 3fr) 1fr;
    }

    .logo {
        max-height: 100px;
    }

    .nav-toggle-label:not(#takken) {
        display: none;
    }

    #takken {
        display: block;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        align-items: center;
        height: 100%;
    }

    nav li {
        display: flex;
        align-items: center;
        min-width: fit-content;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    nav a,
    #takken {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    nav a,
    #takken {
        opacity: 1;
        position: relative;
    }

    nav a::before,
    #takken::before {
        content: '';
        display: block;
        height: 5px;
        width: calc(100% - 3em);
        background: linear-gradient(120deg, hsla(var(--clr-alowisred)) 50%, hsla(var(--clr-alowisgray)) 50%);
        position: absolute;
        bottom: 1.4em;
        left: 1.5em;
        right: 0;
        border-radius: 2px;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before,
    #takken:hover::before {
        transform: scale(1, 1);
    }

    /* sublist styles */
    .nav-sublist {
        position: absolute;
        top: 4.5em;
        height: unset;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        margin-left: 0;
        background-color: hsla(var(--clr-accent));
        border-radius: 0px 0px 15px 15px;

        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }

    .nav-sublist a {
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }

    .nav-sublist a::before, .nav-sublist a:hover::before {
        all: unset;
    }

    .nav-sublist a:hover {
        background: linear-gradient(120deg, hsla(var(--clr-alowisred)) 50%, hsla(var(--clr-alowisgray)) 50%);
        border-radius: 15px;
        color: hsla(var(--clr-primary));
        text-shadow: 1px 1px hsla(var(--clr-text));
    }

    #takken:hover~ul,
    .nav-sublist:hover {
        transform: scale(1, 1);
    }

    #takken:hover~ul a,
    .nav-sublist:hover a{
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    /* footer styles */
    footer {
        display: grid;
        grid-template-columns: minmax(max-content, 2fr) minmax(auto, 1fr);
        grid-template-rows: 1fr 1fr;
        align-items: center;
        grid-template-areas:
            "address aside"
            "info info";
        row-gap: 2em;
    }

    footer address {
        display: flex;
        grid-area: address;
        align-items: center;
    }

    footer aside {
        display: flex;
        grid-area: aside;
        align-items: center;
    }

    .footerinfo {
        grid-area: info;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        grid-template-areas:
        "copy privacy author";
    }

    .privacy {
        grid-area: privacy;
    }

    .copy {
        grid-area: copy;
    }

    .author {
        grid-area: author;
    }

    footer ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer p:first-of-type {
        margin-top: 0.4em;
    }

    footer a:hover {
        text-decoration: underline hsla(var(--clr-alowisgray)) 2px;
    }

    /* inschrijving styles */
    .inschrijvingform {
        height: 1300px;
        width: 100%;
    }

    /* tak styles */
    .tak {
        display: grid;
        text-align: center;
        column-gap: 2em;
        justify-items: center;
        grid-template-areas:
            "titel      titel"
            "logo       leiding"
            "beschr      leiding"
            "alowiske   alowiske";
    }

    .tak section {
        width: 100%;
    }

    .titelsection {
        grid-area: titel;
    }

    .logosection {
        grid-area: logo;
    }

    .beschrijvingsection {
        grid-area: beschr;
        max-width: 30vw;
        font-size: 1.2rem;
    }
    
    .beschrijvingsection p {
        margin-left: 0;
        margin-right: 0;
    }

    .alowiskesection {
        grid-area: alowiske;
    }

    .leidingsection {
        grid-area: leiding;
        font-size: 1rem;
    }

    .leidingsection p {
        text-align: center;
    }

    .taklogo,
    .takleiding {
        max-width: 50vw;
    }

    .alowiske {
        height: auto;
        width: 80%;
        max-width: 60vw;
    }

    /* in-formatie styles */
    .accordion {
        margin-left: 4em;
        margin-right: 4em;
    }
}

@media screen and (min-width: 1100px) {

    /* inschrijving styles */
    .inschrijvingform {
        height: 1350px;
        width: 100%;
    }
}

@media screen and (min-width: 1250px) {

    /* inschrijving styles */
    .inschrijvingform {
        height: 1200px;
        width: 100%;
    }

    /* contact styles */
    .contact {
        display: grid;
        text-align: center;
        column-gap: 2em;
        align-items: start;
        align-content: start;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "locatie    socials"
            "email      socials";
    }

    .locatie {
        grid-area: locatie;
    }

    .email {
        grid-area: email;
    }

    .socials {
        grid-area: socials;
    }
}
