---
title: In-formatie
layout: base.njk
---

<h2>Uniform</h2>

<strong>Naamteken je das, hemd en broek om deze minder snel kwijt te raken</strong>

<p>
    Door het dragen van het uniform toon je dat je lid bent van Scouts en Gidsen Vlaanderen en de rood-grijze scoutsdas toont dat je lid bent van Scouts Sint-Aloysius. Maar het is meer dan dat. Het officiële scoutsuniform is immers speelkledij die tegen een stevig stootje kan. Zo hoeven we nooit bang te zijn om te rollebollen in de modder, een wedstrijdje springen in de plassen te organiseren of een mooie boom te knuffelen…
</p>
<p>    
    We verwachten van elk lid dat hij in uniform naar de vergaderingen komt. Voor nieuwe leden is dat uiteraard pas nodig nadat ze beslist hebben om zich definitief in te schrijven. De eerste groepsdas krijgt jouw zoon wanneer hij wordt ingeschreven. Je kan het uniform nieuw aankopen in de <a href="https://www.hopper.be/nl/kleding/uniform" target="_blank" rel="noreferrer noopener">Hopper scoutswinkel</a> of misschien kunnen we u helpen via een tweedehandsstuk.
</p>
<p>     
    Sinds september 2019 is er ook de mogelijkheid, indien u gebruik maakt van ‘verminderd lidgeld’, om in de hopper winkel korting te krijgen op het uniform. In 2019 bedraagde deze korting: hemd (60%), short (50%), trui (50%). Deze korting is pas geldig bij vertoon van uw lidkaart of lidnummer in de Hopper winkel. Bij vragen in verband met verminderd lidgeld mag u steeds de leiding contacteren.
</p>
<h3>Het verplichte uniform voor kapoenen:</h3>
<p>     
    Enkel onze rood-grijze groepsdas. <br>
    Verder zorgen kapoenen voor goede speelkledij die tegen een stootje kan. <br>
    Elk uniformstuk is ook in kapoenenmaten beschikbaar en mag steeds gedragen worden!
</p>
<h3>Het verplichte uniform voor welpen:</h3>
<p>     
    Naast de speelkledij en rood-grijze groepsdas wordt hier de typische welpenpet gedragen. <br>
    Ook hier is een officieel uniform nog niet verplicht, maar kan en mag het uiteraard steeds gedragen worden.
</p>
<h3>Het verplichte uniform voor alle andere leden:</h3>
<p>     
    Beige scoutshemd, kaki scoutsshort en rood/grijze groepsdas.
</p>

<h2>Kentekens</h2>
<a href="/assets/kentekens-21-22.jpg" target="_blank" rel="noreferrer noopener">
    <img src="/assets/kentekens-21-22.jpg" alt="kentekens">
</a>
    <p>
        Elke badge of kenteken heeft een plaats op je scoutshemd.
        Het groepslintje is bij ons verkrijgbaar, elk ander kenteken is verkrijgbaar in de <a href="https://www.hopper.be/nl/kleding?cat=101" target="_blank">Hopper scoutswinkel</a>.
    </p>
    <ul>
        <li>
            Het belangrijkste kenteken is het jaarkenteken. Dat draag je rechts boven de borstzak.
        </li>
        <li>
            Op je rechtermouw hangt het takkenteken, daarboven het groepslintje.
        </li>
        <li>
            Heb je je belofte gedaan? Dan krijg je een beloftekenteken, dat naai je op de linker borstzak. Boven de linker
            borstzak hoort het lintje België-Europa.
        </li>
        <li>
            Midden op de linkermouw hangt het internationale scoutsteken, erboven hangt het provincieschild en/of de
            Vlaamse Leeuw.
        </li>
    </ul>

<h2>Individuele Steekkaart</h2>
<p>
Om contactgegevens en medische informatie eenduidig in te zamelen, kunnen ouders deze informatie invullen in het centrale systeem van Scouts & Gidsen Vlaanderen.
Hoe u dit doet, kan u terugvinden in de overzichtelijke handleiding die u hieronder kan terugvinden.
Daarna kan u de gegevens zelf invullen en aanpassen wanneer nodig.
</p>
<p>
    <a href="/assets/handleiding-ouders-steekkaart.pdf" target="_blank"><i class="fai fas fa-file-pdf"></i>Handleiding digitaal beheer van de steekkaart</a>
</p>
