---
title: in-formatie
layout: base.njk
---

<p>
    Elke badge of kenteken heeft een plaats op je scoutshemd.

    Het belangrijkste kenteken is het jaarkenteken. Dat draag je rechts boven de borstzak.
    Op je rechtermouw hangt het takkenteken, daarboven het groepslintje.
    Heb je je belofte gedaan? Dan krijg je een beloftekenteken, dat naai je op de linker borstzak. Boven de linker borstzak hoort het lintje België-Europa.
    Midden op de linkermouw hangt het internationale scouts- of gidsenteken, erboven hangt het provincieschild en/of de Vlaamse Leeuw.
    Heb je ook een patrouillelint? Dat hoort aan de linkse schouderklep.
    Het nesthoekje van kabouters en welpen hoort met de punt naar boven, op de linkse mouw, vlak onder je schouder.

    wij hebben geen patroeie lintje
    hebben wij nest hoekje (welpen)?
    groepslintje bij ons verkrijgbaar voor...
    noteer naam in hemd
</p>