---
title : Scouts Alowis
layout : 'base.njk'
---

 <img src="/assets/banner/banner_alowis_640.webp" alt="banner alowis" class="banner"
      width="640" height="266"
      srcset="/assets/banner/banner_alowis_1024.webp?nf_resize=fit&w=640 640w,
              /assets/banner/banner_alowis_1024.webp?nf_resize=fit&w=768 768w,
              /assets/banner/banner_alowis_1024.webp?nf_resize=fit&w=1024 1024w" 
 >
    <section>
      <p>Welkom op de webpagina van Scouts Sint-Aloysius Aalst.</p>
      <p>
        Deze scouts werd in het jaar 1954 opgericht in de wijk Mijlbeek en is de enige jongensscouts in Aalst en
        omstreken.
        Wij proberen ervoor te zorgen dat uw kind zich amuseert en ook groeit in sociale vaardigheden. Samenwerking met
        leeftijdsgenoten is daarbij essentieel: samen de natuur (her)ontdekken, samen leren koken, samen sjorren, samen op
        kamp, … Samen vormen we een hechte vriendengroep en zorgen we voor de tofste jeugdherinneringen.
      </p>
      <p>
        Onder de roepnaam Alowis zorgt een enthousiaste leidingsploeg dat jongens uit de wijde omstreek een fijne tijd
        kunnen beleven.
        Wij komen iedere zondag van 14u tot 17u samen aan de lokalen aan de Schendelbeekhofstraat. Door de groene omgeving
        met bomen is het de perfecte plaats om te spelen en te ravotten.
        Elke week uren vol plezier en vertier onder het toeziend oog van verantwoordelijke leiding.
      </p>
      <p>
        Kortom, Scouts Sint-Aloysius Aalst staat voor buiten spelen, binnen spelen, goede vriendschappen, een geweldig
        leidingsteam, aanleren van technieken en nog veel meer.
        De perfecte hobby voor jouw zoon!
      </p>
    </section>