---
title : Inschrijven
layout : 'base.njk'
---

<p>
    Kom langs op de startdag in september of neem eerst contact op met de (groeps)leiding.
    Jullie zoon mag dan twee keer een activiteit meedoen op de scouts vooraleer hij zich moet inschrijven.
</p>

<iframe
    class="inschrijvingform"
    src="https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/client/formulier.html#/lidworden?groep=O2304S"
    frameborder="0"
    allowfullscreen>
</iframe>