---
title : inschrijven
layout : 'base.njk'
---
<p>
    Interesse om lid te worden?
    Top! Kom dan zeker is langs op onze startdag in september.
    Meer info hierover vinden jullie op onze sociale media.
    Indien jullie doorheen het jaar willen aansluiten neem dan zeker contact op met jouw toekomstige takleiders of de groepsleiders.
    Ieder nieuw lid mag twee keer een activiteit meedoen op de scouts vooraleer hij zich moet inschrijven.
    Indien je langs bent gekomen en hebt ondervonden dat scouts zijn echt iets voor jou is dan kan je een inschrijvingsaanvraag indienen via onderstaant formulier.
</p>

<strong>
    Kom eerst langs op de scouts en schrijf je daarna pas in
</strong>


<iframe
    class="inschrijvingform"
    src="https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/client/formulier.html#/lidworden?groep=O2304S"
    frameborder="0"
    title="inschrijvingform van Scouts Sint-Aloysius"
    allowfullscreen>
</iframe>