---
title : Inschrijvingen
layout : 'base.njk'
---

<iframe
    class="inschrijvingform"
    src="https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/client/formulier.html#/lidworden?groep=O2304S"
    frameborder="0"
    allowfullscreen>
</iframe>