---
title : takken
layout : 'base.njk'
---
<p>
    Hier kan u de verschillende takken binnen onze scouts vinden.
    Ze staan gerangschikt van jong naar oud en bevatten steeds de volgende onderdelen:
</p>
<ul>
    <li>Omschrijving</li>
    <li>Alowiske met activiteiten</li>
    <li>Leiding</li>
</ul>

<section class="tak_selectie">
    <a href="/takken/kapoenen" class="tak-snippet">
        <section>
            <h2>Kapoenen</h2>
            <p>Geboren 2014-2015</p>
            <img src="/assets/kapoenen/logo/logo_140.webp" alt="kapoenenlogo"
                 width="140" height="240"
                 srcset="/assets/kapoenen/logo/logo_140.webp 140w,
                         /assets/kapoenen/logo/logo_280.webp 280w,
                         /assets/kapoenen/logo/logo_560.webp 560w"
            >
        </section>
    </a>
    
    <a href="/takken/welpen" class="tak-snippet">
        <section>
            <h2>Welpen</h2>
            <p>Geboren 2011-2013</p>
            <img src="/assets/welpen/logo/logo_140.webp" alt="welpenlogo"
                 width="140" height="240"
                 srcset="/assets/welpen/logo/logo_140.webp 140w,
                         /assets/welpen/logo/logo_280.webp 280w,
                         /assets/welpen/logo/logo_560.webp 560w"
            >
        </section>
    </a>
    
    <a href="/takken/jongverkenners" class="tak-snippet">
        <section>
            <h2>Jongverkenners</h2>
            <p>Geboren 2008-2010</p>
            <img src="/assets/jongverkenners/logo/logo_140.webp" alt="jongverkennerslogo"
                 width="140" height="240"
                 srcset="/assets/jongverkenners/logo/logo_140.webp 140w,
                         /assets/jongverkenners/logo/logo_280.webp 280w,
                         /assets/jongverkenners/logo/logo_560.webp 560w"
            >
        </section>
    </a>
    
    <a href="/takken/verkenners" class="tak-snippet">
        <section>
            <h2>Verkenners</h2>
            <p>Geboren 2005-2007</p>
            <img src="/assets/verkenners/logo/logo_140.webp" alt="verkennerslogo"
                 width="140" height="240"
                 srcset="/assets/verkenners/logo/logo_140.webp 140w,
                         /assets/verkenners/logo/logo_280.webp 280w,
                         /assets/verkenners/logo/logo_560.webp 560w"
            >
        </section>
    </a>
    
    <a href="/takken/jins" class="tak-snippet">
        <section>
            <h2>Jins</h2>
            <p>Geboren 2004-2004</p>
            <img src="/assets/jins/logo/logo_140.webp" alt="jinslogo"
                 width="140" height="240"
                 srcset="/assets/jins/logo/logo_140.webp 140w,
                         /assets/jins/logo/logo_280.webp 280w,
                         /assets/jins/logo/logo_560.webp 560w"
            >
        </section>
    </a>
</section>
