---
title : verhuur
layout : 'base.njk'
---

<h2>Materiaal</h2>
<p>Wij verhuren ook verschillende andere zaken zoals tenten, kookgerei, sjorhout, …
In de toekomst zal hier een overzicht komen met alle mogelijke materialen en prijzen.
In tussentijd kan u alvast contact met ons opnemen, zodat we een eventuele overeenkomst kunnen bespreken.
</p>

<h2>Lokaal</h2>

<strong>Uit respect voor onze buren verhuren wij ons lokaal niet voor feestjes/leidingsweekends</strong>


<table class="verhuurtabel">
    <thead>
        <tr>
            <th colspan="2">
                Lokaalgegevens
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Contactgegevens
            </th>
            <td>
                Bekijk eerst de verhuurkalender of het lokaal beschikbaar is voor u een mail stuurt.
            </td>
        </tr>
        <thead>
        <tr>
            <td colspan="2">
                <a href="javascript:void(0);" onclick="copyElementText(this)" class="copyclick">
                    <i class="fai fas fa-clone"></i>verhuur&commat;scoutsalowis.be
                </a>
            </th>
        </tr>
        </thead>
        <tr>
            <th>
                Prijs
            </th>
            <td>
                 €100/dag of €125/nacht (zie ook Huurovereenkomst)
            </td>
        </tr>
        <tr>
            <th>
                Waarborg
            </th>
            <td>
                €300 (zie ook Huurovereenkomst)
            </td>
        </tr>
        <tr>
            <th>
                Aantal personen
            </th>
            <td>
                maximaal 30
            </td>
        </tr>
        <tr>
            <th>
                Verhuurperiode
            </th>
            <td>
                per dag <br>
                per weekend (vrijdag tot zondag) <br>
                per week
            </td>
        </tr>
        <tr>
            <th>
                Terrein
            </th>
            <td>
                toegang via pad naast beek <br>
                speelterrein met gras en bomen
            </td>
        </tr>
        <tr>
            <th>
                Gebouw
            </th>
            <td>
                inkomhal <br>
                2 lokalen (+/- 70 m²) <br>
                ‘open’ keuken met 3e lokaal (+/- 70 m²) <br>
                sanitair
            </td>
        </tr>
        <tr>
            <th>
                Sanitair
            </th>
            <td>
                3 toiletten
                3 urinoirs <br>
                2 douches <br>
                mindervaliden toilet en douche <br>
                spoelbak met 4 kranen (koud water) <br>
                2 aparte spoelbakken
            </td>
        </tr>
        <tr>
            <th>
                Keuken
            </th>
            <td>
                koelkast
                4 gasvuren + oven
                2 spoelbakken
                bestek en kookgerei op aanvraag
            </td>
        </tr>
        <tr>
            <th>
                Ligging
            </th>
            <td>
                < 1 km 
                <ul>
                    <li>bushalte</li>
                    <li>speeltuin Beukenhof</li>
                    <li>speeltuin Zwembad</li>
                    <li>zwembadpark</li>
                    <li>stedelijk Zwembad</li>
                    <li>ziekenhuis</li>
                    <li>huisarts</li>
                    <li>apotheek</li>
                    <li>slager</li>
                    <li>bakker</li>
                    <li>frituur</li>
                    <li>nachtwinkel</li>
                    <li>buurtwinkel (Carrefour)< 2km</li>
                    <li>grootwarenhuis (Colruyt Aalst)< 3 km</li>
                    <li>stadscentrum</li>
                    <li>station Aalst</li>
                    <li>4 km van E40  (uitrit 19)</li>
                </ul>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <a href="https://www.facebook.com/media/set/?set=a.814057105282157.1073741848.394543520566853&amp;type=1" target="_blank" rel="noreferrer noopener"><i class="fai fas fa-images"></i>Fotoboek</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/assets/huurovereenkomst_vzw_sint_aloysius.pdf" target="_blank"><i class="fai fas fa-file-pdf"></i>Huurovereenkomst</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p id="kalender">Verhuurkalender</p>
                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FBrussels&src=c3ZlYWs1NjRpcG5xN25tbzRldXNxMWkybWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D50000&showNav=1&showDate=1&showPrint=0&showTabs=1&showCalendars=0&showTz=0&title=Verhuurkalender"
                    title="Verhuurkalender op Google Agenda"
                    style="border-width: 0;"
                    class="verhuurkalender" 
                    width="100%"
                    height="500"
                    frameborder="0"
                    scrolling="no">
                </iframe>
            </td>
        </tr>
    </tfoot>
</table>
